*.gz
*.log
datasets/*
*.sif
cargo-*
.DS_Store
.claude
.vscode
drona_wfe/*
sbatch/
*.txt
aces-big-apps/
hyperfine-runs/
profile-runs/
bsan_profile/
target/
bun-bsan/
outputs/*.png
merged/
.venv
*.cpython*
all_c_ffi_crates
*.tar
__pycache__/
